*~
.venv
venv
env
!.gitkeep
tmp
.DS_Store
.idea
*.log
*.map
*.pyc
*.h5
__pycache__/
data/
saved_models/
logs/
eval_results/
images/
!docs/images
tf_models/
wandb/
baselines/
babyai/
gym-minigrid/
procgen/
gym-minigrid/
rsync_exclude.txt
src/
figures/
cmds.txt
cmds/
videos/

nle/
nle_data/
minihack/