cloudpickle>=1.2
gym==0.15.7
gym-minigrid==1.0.1
networkx==2.5
numpy>=1.16.4
pandas>=1.0.5
torch>=1.7.0
matplotlib
seaborn
tensorflow==2.4.1
lempel_ziv_complexity
tqdm>=4.46.1
gin-config==0.1.1
cma==2.7.0
Box2D
geopandas==0.9.0
pyvirtualdisplay
scikit-learn==1.1.1
torchvision==0.11.2
treelib==1.6.1
pyglet